<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<p>
  <span>コメント元のツイート内容: </span><%= link_to @tweet.body, tweet_path(id: @tweet.id) %>
<% if user_signed_in? %>
  <span>　</span>
  <%= link_to "コメントする", new_tweet_comment_path(tweet_id: @tweet.id) %>
<% end %>
</p>
<hr>

<br>
<p>
  <span>コメント一覧（コメント数: </span>
  <%= @comments.count %>
  <span>）</span>
</p>
<% @comments.each do |comment| %>
  <hr>
  <p><span>email: </span><%= link_to comment.user.email, user_path(id: comment.user.id) %></p>
  <p><span>コメント内容: </span><%= link_to comment.body, tweet_comment_path(id: comment.id) %></p>
<% end %>

<br>


