<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<hr>
<p><span>email: </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>

<% if @tweet.image.attached? %>
  <p><%= image_tag @tweet.image, class: "tweet_img" %></p>
<% end %>

<p><%= link_to "コメントする", new_tweet_comment_path(tweet_id: @tweet.id) %></p>
<% if current_user != @tweet.user %>
  <% if @tweet.user.followed_by?(current_user) %>
    <p><%= link_to "フォロー済み", user_relationships_path(user_id: @tweet.user.id), method: :delete %></p>
  <% else %>
    <p><%= link_to "フォローする", user_relationships_path(user_id: @tweet.user.id), method: :post %></p>
  <% end %>
<% end %>
<hr>
<br>

<p>
  <span>コメント一覧（コメント数: </span>
  <%= @tweet.comments.count %>
  <span>）</span>
</p>
<% @comments.each do |comment| %>
  <hr>
  <p><span>email: </span><%= link_to comment.user.email, user_path(id: comment.user.id) %></p>
  <p><span>コメント内容: </span><%= comment.body %></p>
<% end %>
